.hero {
    transition: all 0.25s ease-in-out 0.08s;
    transform: translateY(0px);
    opacity: 1;
    h1{
       
        color: #fff;
        font-weight: 700;
         background-image: -webkit-gradient(linear,left 0,right 0,from(#9198e5),to(#e66465));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .description{
        color: #fff;
        font-weight: 700;
        background-image: -webkit-gradient(linear,left 0,right 0,from(#e66465),to(#9198e5));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.site-name {
    color: #fff;
    background-image: -webkit-gradient(linear,left 0,right 0,from(#e66465),to(#9198e5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.loading-wrapper{
    .title{
        color: #fff;
        background-image: -webkit-gradient(linear,left 0,right 0,from(#e66465),to(#9198e5));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .description{
        color: #fff;
        background-image: -webkit-gradient(linear,left 0,right 0,from(#e66465),to(#9198e5));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


